@import "class.css";

body{
  background-color: #263272;
  line-height: 1.6;
  color: black;

}

.head{
   width:auto;
   height: 100px;
   list-style: none;
   display: flex;
   position: sticky;
   gap: 1.5rem;
   background-color: white;
   text-align: center;
  font-family: "Nunito", "lora";

}

.homepage{
   width:auto;
   height: 600px;
   list-style: none;
   display: flex;
   gap: 1.5rem;
   background-color: #3e5caa;
   text-align: center;
 
    font-family: "Nunito", "lora";

}

.logo img{
    height: 50px;
    width: auto;
}

.foot{
  background-color: black;
  color: white;
  width:auto;
  height: 350px;
  position: relative;
  text-align: center;
  font-family: "Nunito", "lora";
}

.credits{
  position: relative;
  top: 130px;
}